Repository hackclub/burrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum, @davnotdev

.github/CODEOWNERS:

* @conradev @malted @JettChenT @jdogcoder
burrow/ @conradev @malted @JettChenT @jdogcoder @Muirrum
tun/ @conradev @malted @JettChenT @jdogcoder @Muirrum
burrow-gtk/ @conradev @malted @JettChenT @jdogcoder @davnotdev

Integrate tunnel status streaming
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/switch_screen.rs
  burrow-gtk/src/daemon.rs
  burrow-gtk/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Bad workaround for local appimage daemon
  burrow-gtk/src/components/settings/daemon_group.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Connect network list to rpc
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add proto defs into burrow-gtk
  burrow-gtk/proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have the app actually open
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Remove TODO comment
  burrow-gtk/src/components/app.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have burrow gtk use new rpc
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Tested with mock grpc server
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test against mock rpc server
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/main/mod.rs
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main/switch.rs
  burrow-gtk/src/components/main_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Create main screen with placeholder networks
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/main/mod.rs
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main/switch.rs
  burrow-gtk/src/components/main_screen.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/template.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Implement networks add delete and reoder
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Prettier UI
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main/switch.rs
  burrow-gtk/src/components/main_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Fix appimage build
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Better error handling
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/diag.rs
  burrow-gtk/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Update pipelines with various fixes
  .github/actions/download-profiles/action.yml
  .github/workflows/build-appimage.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-rust.yml
  .github/workflows/lint-swift.yml
  .github/workflows/release-appimage.yml
  .github/workflows/release-apple.yml
  .github/workflows/release-if-needed.yaml
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update pipelines with various fixes
  .github/actions/download-profiles/action.yml
  .github/workflows/build-appimage.yml
  .github/workflows/build-docker.yml
  .github/workflows/build-rust.yml
  .github/workflows/lint-swift.yml
  .github/workflows/release-appimage.yml
  .github/workflows/release-apple.yml
  .github/workflows/release-if-needed.yaml
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update docs and CI
  burrow-gtk/build-aux/Dockerfile
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Download provisioning profiles in release pipeline
  .github/actions/download-profiles/action.yml
  .github/actions/export/action.yml
  .github/workflows/build-rust.yml
  .github/workflows/release-apple.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Fix SwiftLint errors
  .github/actions/build-for-testing/action.yml
  .github/workflows/build-rust.yml
  Apple/App/AppDelegate.swift
  Apple/App/BurrowView.swift
  Apple/App/OAuth2.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Fix SwiftLint errors
  .github/actions/build-for-testing/action.yml
  .github/workflows/build-rust.yml
  Apple/App/AppDelegate.swift
  Apple/App/BurrowView.swift
  Apple/App/OAuth2.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Download provisioning profiles in release pipeline
  .github/actions/download-profiles/action.yml
  .github/actions/export/action.yml
  .github/workflows/build-rust.yml
  .github/workflows/release-apple.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

GRPC Server Support
  .github/workflows/build-apple.yml
  .github/workflows/build-rust.yml
  .gitignore
  .vscode/settings.json
  Apple/NetworkExtension/libburrow/build-rust.sh
  Cargo.lock
  Dockerfile
  Makefile
  burrow/Cargo.toml
  burrow/build.rs
  burrow/burrow.db
  burrow/src/auth/server/db.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/client.rs
  burrow/src/daemon/rpc/grpc_defs.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/database.rs
  burrow/src/main.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/inifield.rs
  burrow/src/wireguard/mod.rs
  burrow/src/wireguard/snapshots/burrow__wireguard__config__tests__tst_config_toml.snap
  burrow/tmp/conrd.conf
  proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

GRPC Server Support
  .github/workflows/build-apple.yml
  .github/workflows/build-rust.yml
  .gitignore
  .vscode/settings.json
  Apple/NetworkExtension/libburrow/build-rust.sh
  Cargo.lock
  Dockerfile
  Makefile
  burrow/Cargo.toml
  burrow/build.rs
  burrow/burrow.db
  burrow/src/auth/server/db.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/client.rs
  burrow/src/daemon/rpc/grpc_defs.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/database.rs
  burrow/src/main.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/inifield.rs
  burrow/src/wireguard/mod.rs
  burrow/src/wireguard/snapshots/burrow__wireguard__config__tests__tst_config_toml.snap
  burrow/tmp/conrd.conf
  proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add Developer ID Profiles to build
  .github/workflows/release-apple.yml
  Apple/Profiles/Burrow_Developer_ID.provisionprofile
  Apple/Profiles/Burrow_Network_Developer_ID.provisionprofile
Owners: @conradev, @malted, @JettChenT, @jdogcoder

WIP: protobuf defs
  .vscode/settings.json
  proto/burrow.proto
  proto/burrowweb.proto
  proto/wireguard.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update: add protobuf defs
  burrow/Cargo.toml
  burrow/build.rs
  burrow/src/auth/server/grpc_defs.rs
  burrow/src/auth/server/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Auth endpoint
  burrow/src/auth/server/grpc_defs.rs
  burrow/src/auth/server/grpc_server.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add wrapper methods for grpc server
  Cargo.lock
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/grpc_server.rs
  burrow/src/auth/server/providers/mod.rs
  proto/burrowweb.proto
  proto/wireguard.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Feat: JWT handling
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/grpc_server.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/settings.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Support for slack auth
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/grpc_server.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Change to map
  burrow/src/auth/server/db.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Migrate server to new crate
  Cargo.lock
  Cargo.toml
  burrow/src/auth/mod.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  server/Cargo.toml
  server/build.rs
  server/src/auth/server/providers/mod.rs
  server/src/build.rs
  server/src/client.rs
  server/src/main.rs
  server/src/server/db.rs
  server/src/server/grpc_defs.rs
  server/src/server/grpc_server.rs
  server/src/server/mod.rs
  server/src/server/providers/mod.rs
  server/src/server/providers/slack.rs
  server/src/server/settings.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Feat: JWT key generation
  server/src/auth/server/providers/mod.rs
  server/src/build.rs
  server/src/main.rs
  server/src/server/grpc_server.rs
  server/src/server/providers/mod.rs
  server/src/server/settings.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add server command
  Cargo.lock
  proto/burrowweb.proto
  server/Cargo.toml
  server/server.sqlite3
  server/src/main.rs
  server/src/server/grpc_server.rs
  server/src/server/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update
  .gitignore
  server/server.sqlite3
Owners: @conradev, @malted, @JettChenT, @jdogcoder

wip
  Cargo.lock
  burrow-gtk/Cargo.lock
  burrow/src/daemon/rpc/response.rs
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization-2.snap
  burrow/src/daemon/snapshots/burrow__daemon__response__response_serialization-2.snap
  proto/google/protobuf/duration.proto
  proto/google/protobuf/timestamp.proto
  tun/src/unix/apple/mod.rs
  tun/src/unix/linux/mod.rs
  tun/src/unix/linux/sys.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev, @Muirrum

Add IPv6 prefix handling to unix tun interface
  tun/src/options.rs
  tun/src/unix/address.rs
  tun/src/unix/apple/mod.rs
  tun/src/unix/apple/sys.rs
  tun/src/unix/linux/mod.rs
  tun/src/unix/linux/sys.rs
  tun/src/unix/mod.rs
  tun/tests/configure.rs
  tun/tests/packets.rs
  tun/tests/tokio.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Drive daemon tunnels from stored networks
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/runtime.rs
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Allow no-tunnel passthrough mode
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/runtime.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add Linux tor-exec namespace runtime
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/database.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  burrow/src/tor/config.rs
  burrow/src/tor/dns.rs
  burrow/src/tor/exec.rs
  burrow/src/tor/mod.rs
  burrow/src/tor/runtime.rs
  burrow/src/tor/system.rs
  rust-toolchain.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum
