Repository hackclub/burrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum, @davnotdev

remove unnecessary import
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

ID based RPC
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

store database in file
  burrow/src/daemon/mod.rs
  burrow/src/database.rs
  burrow/src/lib.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

ID based RPC
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Initial database support
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/database.rs
  burrow/src/lib.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

pass in db path to daemon main
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/NetworkExtension/libburrow/libburrow.h
  Apple/Shared/Constants.swift
  burrow/src/daemon/apple.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

small fixes
  burrow/src/daemon/instance.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Fix tests
  burrow/burrow.db
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization-2.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization-3.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization-4.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization-5.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization-2.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization-3.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization-4.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization.snap
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

rpc refactor
  .vscode/settings.json
  Apple/Shared/Client.swift
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/daemon/rpc/notification.rs
  burrow/src/daemon/rpc/request.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/lib.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

notification rpc working
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/DataTypes.swift
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

update rpc
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/DataTypes.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

clippy
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/database.rs
  burrow/src/wireguard/iface.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

make clippy happy
  burrow/src/daemon/net/unix.rs
  burrow/src/database.rs
  tun/src/unix/apple/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

ID based RPC
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/Client.swift
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/Constants.swift
  Apple/Shared/DataTypes.swift
  Apple/Shared/NWConnection+Async.swift
  Apple/Shared/NewlineProtocolFramer.swift
  burrow/burrow.db
  burrow/src/daemon/command.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/database.rs
  burrow/src/wireguard/iface.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

change database intiation to const
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

rpc working on swift side
  .vscode/settings.json
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/DataTypes.swift
  burrow/burrow.db
  burrow/src/daemon/mod.rs
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization.snap
  burrow/src/lib.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

fix for windows
  burrow/src/lib.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

fix for windows
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

fix for unix
  Dockerfile
  burrow/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

fix for macos
  burrow/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Appimage Fix
  burrow-gtk/build-aux/Dockerfile
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Try fix AppImage
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

CFLAGS attempt
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

attempt
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

attempt
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

fix attempt
  burrow-gtk/build-aux/Dockerfile
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

fix attempt
  burrow-gtk/build-aux/Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add toml serde for wireguard config
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/daemon/instance.rs
  burrow/src/daemon/rpc/request.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/snapshots/burrow__wireguard__config__tests__tst_config_toml.snap
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add RPC endpoint for adding toml configs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/rpc/request.rs
  burrow/src/database.rs
  burrow/src/wireguard/config.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

WIP: UI for adding config
  Apple/App/App-macOS.entitlements
  Apple/App/BurrowView.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

updated packages
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @conradev, @malted, @JettChenT, @jdogcoder

updated packages
  tun/src/unix/apple/mod.rs
  tun/src/unix/linux/mod.rs
  tun/src/unix/mod.rs
  tun/tests/configure.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add syscall macro to unix
  tun/src/unix/linux/sys.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

add syscall crate and import IpAddr
  tun/src/unix/linux/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

update configure.rs
  tun/tests/configure.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add button for sending toml
  Apple/App/App-iOS.entitlements
  Apple/App/App-macOS.entitlements
  Apple/App/BurrowView.swift
  Apple/App/MenuItemToggleView.swift
  Apple/App/RpcOperations.swift
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/NetworkExtension/NetworkExtension-iOS.entitlements
  burrow/src/wireguard/config.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add Fetching Slack Token
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/src/auth.rs
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/auth_screen.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Start authentication flow
  .gitignore
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
  burrow/src/lib.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Prepare Dockerfile for fly.io
  Cargo.lock
  Cargo.toml
  Dockerfile
  burrow/Cargo.toml
  burrow/src/auth/server/mod.rs
  burrow/src/main.rs
  tun/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add support for ini parsing
  .gitignore
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/daemon/instance.rs
  burrow/src/daemon/rpc/request.rs
  burrow/src/database.rs
  burrow/src/main.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/inifield.rs
  burrow/src/wireguard/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

.github/CODEOWNERS:

* @conradev @malted @JettChenT @jdogcoder
burrow/ @conradev @malted @JettChenT @jdogcoder @Muirrum
tun/ @conradev @malted @JettChenT @jdogcoder @Muirrum
burrow-gtk/ @conradev @malted @JettChenT @jdogcoder @davnotdev
