Repository hackclub/burrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum, @davnotdev

.github/CODEOWNERS:

* @conradev @malted @JettChenT @jdogcoder
burrow/ @conradev @malted @JettChenT @jdogcoder @Muirrum
tun/ @conradev @malted @JettChenT @jdogcoder @Muirrum
burrow-gtk/ @conradev @malted @JettChenT @jdogcoder @davnotdev

Add implementation for stop command
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Makefile
  burrow/src/daemon/instance.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/pcb.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add implementation for stop command
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Makefile
  burrow/src/daemon/instance.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/pcb.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

impl ipv6 linux
  tun/src/unix/apple/mod.rs
  tun/src/unix/linux/mod.rs
  tun/src/unix/mod.rs
  tun/tests/configure.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

add syscall crate and import IpAddr
  tun/src/unix/linux/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

add syscall macro to linux
  tun/src/unix/linux/mod.rs
  tun/src/unix/linux/sys.rs
  tun/tests/configure.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Allow non-systemd systems to use local daemon
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings/mod.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/diag.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Update README.md
  README.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Implement launching a local daemon (#261)
  README.md
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings/mod.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/diag.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Introduce initial UI for connecting to networks
  .swiftlint.yml
  Apple/App/App.xcconfig
  Apple/App/AppDelegate.swift
  Apple/App/Assets.xcassets/HackClub.colorset/Contents.json
  Apple/App/Assets.xcassets/HackClub.imageset/Contents.json
  Apple/App/Assets.xcassets/HackClub.imageset/flag-standalone-wtransparent.pdf
  Apple/App/Assets.xcassets/WireGuard.colorset/Contents.json
  Apple/App/Assets.xcassets/WireGuard.imageset/Contents.json
  Apple/App/Assets.xcassets/WireGuard.imageset/WireGuard.svg
  Apple/App/Assets.xcassets/WireGuardTitle.imageset/Contents.json
  Apple/App/Assets.xcassets/WireGuardTitle.imageset/WireGuardTitle.svg
  Apple/App/BurrowApp.swift
  Apple/App/BurrowView.swift
  Apple/App/FloatingButtonStyle.swift
  Apple/App/MainMenu.xib
  Apple/App/Menu/MenuView.swift
  Apple/App/MenuItemToggleView.swift
  Apple/App/NetworkExtensionTunnel.swift
  Apple/App/NetworkView.swift
  Apple/App/Networks/HackClub.swift
  Apple/App/Networks/Network.swift
  Apple/App/Networks/WireGuard.swift
  Apple/App/Status.swift
  Apple/App/Tunnel.swift
  Apple/App/TunnelButton.swift
  Apple/App/TunnelStatusView.swift
  Apple/App/TunnelView.swift
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Constants.swift
  Apple/Shared/Constants/Constants.h
  Apple/Shared/Shared.xcconfig
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update for Xcode 15.2
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Apple/Burrow.xcodeproj/xcshareddata/xcschemes/NetworkExtension.xcscheme
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Introduce initial UI for connecting to networks
  .swiftlint.yml
  Apple/App/App.xcconfig
  Apple/App/AppDelegate.swift
  Apple/App/Assets.xcassets/HackClub.colorset/Contents.json
  Apple/App/Assets.xcassets/HackClub.imageset/Contents.json
  Apple/App/Assets.xcassets/HackClub.imageset/flag-standalone-wtransparent.pdf
  Apple/App/Assets.xcassets/WireGuard.colorset/Contents.json
  Apple/App/Assets.xcassets/WireGuard.imageset/Contents.json
  Apple/App/Assets.xcassets/WireGuard.imageset/WireGuard.svg
  Apple/App/Assets.xcassets/WireGuardTitle.imageset/Contents.json
  Apple/App/Assets.xcassets/WireGuardTitle.imageset/WireGuardTitle.svg
  Apple/App/BurrowApp.swift
  Apple/App/BurrowView.swift
  Apple/App/FloatingButtonStyle.swift
  Apple/App/MainMenu.xib
  Apple/App/Menu/MenuView.swift
  Apple/App/MenuItemToggleView.swift
  Apple/App/NetworkExtensionTunnel.swift
  Apple/App/NetworkView.swift
  Apple/App/Networks/HackClub.swift
  Apple/App/Networks/Network.swift
  Apple/App/Networks/WireGuard.swift
  Apple/App/Status.swift
  Apple/App/Tunnel.swift
  Apple/App/TunnelButton.swift
  Apple/App/TunnelStatusView.swift
  Apple/App/TunnelView.swift
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Constants.swift
  Apple/Shared/Constants/Constants.h
  Apple/Shared/Shared.xcconfig
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update for Xcode 15.2
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/xcshareddata/xcschemes/App.xcscheme
  Apple/Burrow.xcodeproj/xcshareddata/xcschemes/NetworkExtension.xcscheme
Owners: @conradev, @malted, @JettChenT, @jdogcoder

tun_interface set_up fix hang
  tun/src/tokio/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add setup command to TunInterface
  Cargo.lock
  burrow/src/daemon/instance.rs
  tun/Cargo.toml
  tun/src/tokio/mod.rs
  tun/src/unix/linux/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

dummy set_up function for macos
  tun/Cargo.toml
  tun/src/unix/apple/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Set up works, daemon still bugs out
  Cargo.lock
  burrow/src/daemon/instance.rs
  tun/Cargo.toml
  tun/src/tokio/mod.rs
  tun/src/unix/linux/mod.rs
  tun/tests/configure.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Configure CARGO_TARGET_DIR to be inside of DerivedData
  .github/actions/build-for-testing/action.yml
  .github/actions/export/action.yml
  Apple/NetworkExtension/libburrow/build-rust.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update release pipelines to upload release artifacts
  .github/actions/archive/action.yml
  .github/actions/notarize/action.yml
  .github/workflows/build-apple.yml
  .github/workflows/release-apple.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Save slack user data to db
  .gitignore
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Refactor + add device table
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/auth/server.rs
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

ID based RPC
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

ID based RPC
  .github/workflows/release-linux.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

make clippy happy
  burrow/src/daemon/net/unix.rs
  burrow/src/database.rs
  tun/src/unix/apple/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

small fixes
  burrow/src/daemon/instance.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

rpc working on swift side
  .vscode/settings.json
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/DataTypes.swift
  burrow/burrow.db
  burrow/src/daemon/mod.rs
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__request__daemoncommand_serialization.snap
  burrow/src/daemon/rpc/snapshots/burrow__daemon__rpc__response__response_serialization.snap
  burrow/src/lib.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

rpc refactor
  .vscode/settings.json
  Apple/Shared/Client.swift
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/daemon/rpc/notification.rs
  burrow/src/daemon/rpc/request.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/lib.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

change database intiation to const
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

pass in db path to daemon main
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/NetworkExtension/libburrow/libburrow.h
  Apple/Shared/Constants.swift
  burrow/src/daemon/apple.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

remove unnecessary import
  burrow/src/database.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

ID based RPC
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/Client.swift
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/Constants.swift
  Apple/Shared/DataTypes.swift
  Apple/Shared/NWConnection+Async.swift
  Apple/Shared/NewlineProtocolFramer.swift
  burrow/burrow.db
  burrow/src/daemon/command.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/database.rs
  burrow/src/wireguard/iface.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Initial database support
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/database.rs
  burrow/src/lib.rs
  burrow/src/wireguard/config.rs
  burrow/src/wireguard/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

clippy
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/database.rs
  burrow/src/wireguard/iface.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

notification rpc working
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/Client.swift
  Apple/Shared/DataTypes.swift
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/daemon/rpc/response.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

store database in file
  burrow/src/daemon/mod.rs
  burrow/src/database.rs
  burrow/src/lib.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

update rpc
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/Shared/DataTypes.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Initial website setup
  site/.eslintrc.json
  site/.gitignore
  site/.prettierignore
  site/assets/Bold.woff2
  site/assets/Italic.woff2
  site/assets/Regular.woff2
  site/layout/layout.tsx
  site/next.config.js
  site/package.json
  site/pages/_app.tsx
  site/pages/_document.tsx
  site/pages/index.tsx
  site/postcss.config.js
  site/prettier.config.js
  site/public/hackclub.svg
  site/static/globals.css
  site/tailwind.config.ts
  site/tsconfig.json
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Initial website setup
  site/.eslintrc.json
  site/.gitignore
  site/.prettierignore
  site/assets/Bold.woff2
  site/assets/Italic.woff2
  site/assets/Regular.woff2
  site/layout/layout.tsx
  site/next.config.js
  site/package.json
  site/pages/_app.tsx
  site/pages/_document.tsx
  site/pages/index.tsx
  site/postcss.config.js
  site/prettier.config.js
  site/public/hackclub.svg
  site/static/globals.css
  site/tailwind.config.ts
  site/tsconfig.json
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add apple-app-site-association file
  site/bun.lockb
  site/next.config.js
  site/package.json
  site/public/.well-known/apple-app-site-association
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Implement Slack authentication on iOS
  .github/actions/archive/action.yml
  .github/actions/notarize/action.yml
  Apple/App/App-iOS.entitlements
  Apple/App/App-macOS.entitlements
  Apple/App/BurrowView.swift
  Apple/App/NetworkCarouselView.swift
  Apple/App/NetworkView.swift
  Apple/App/OAuth2.swift
  Apple/App/TunnelButton.swift
  Apple/Burrow.xcodeproj/project.pbxproj
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Implement Slack authentication on iOS
  .github/actions/archive/action.yml
  .github/actions/notarize/action.yml
  Apple/App/App-iOS.entitlements
  Apple/App/App-macOS.entitlements
  Apple/App/BurrowView.swift
  Apple/App/NetworkCarouselView.swift
  Apple/App/NetworkView.swift
  Apple/App/OAuth2.swift
  Apple/App/TunnelButton.swift
  Apple/Burrow.xcodeproj/project.pbxproj
Owners: @conradev, @malted, @JettChenT, @jdogcoder
