Repository hackclub/burrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum, @davnotdev

.github/CODEOWNERS:

* @conradev @malted @JettChenT @jdogcoder
burrow/ @conradev @malted @JettChenT @jdogcoder @Muirrum
tun/ @conradev @malted @JettChenT @jdogcoder @Muirrum
burrow-gtk/ @conradev @malted @JettChenT @jdogcoder @davnotdev

Overhaul Meson / Flatpak Building
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/com.hackclub.burrow.devel.json
  burrow-gtk/build-aux/com.hackclub.burrow.json
  burrow-gtk/data/app.desktop.in.in
  burrow-gtk/data/app.gschema.xml.in
  burrow-gtk/data/app.metainfo.xml.in
  burrow-gtk/data/com.hackclub.burrow.appdata.xml.in
  burrow-gtk/data/com.hackclub.burrow.gschema.xml
  burrow-gtk/data/icons/hicolor/scalable/apps/burrow-gtk.svg
  burrow-gtk/data/icons/hicolor/symbolic/apps/burrow-gtk-symbolic.svg
  burrow-gtk/data/icons/hicolor/symbolic/apps/com.hackclub.burrow-symbolic.svg
  burrow-gtk/data/icons/meson.build
  burrow-gtk/data/meson.build
  burrow-gtk/data/resources.gresource.xml
  burrow-gtk/meson.build
  burrow-gtk/po/POTFILES
  burrow-gtk/po/meson.build
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/config.rs.in
  burrow-gtk/src/meson.build
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Update Flatpak Github Workflow
  .github/workflows/build-flatpak.yml
  burrow-gtk/com.hackclub.burrow.devel.json
  burrow-gtk/com.hackclub.burrow.json
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Implement Gtk Network Status (#165)
  .github/workflows/build-flatpak.yml
  burrow-gtk/.cargo/config.toml
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/com.hackclub.burrow.devel.json
  burrow-gtk/build-aux/com.hackclub.burrow.json
  burrow-gtk/build.rs
  burrow-gtk/data/app.desktop.in.in
  burrow-gtk/data/app.gschema.xml.in
  burrow-gtk/data/app.metainfo.xml.in
  burrow-gtk/data/com.hackclub.burrow.appdata.xml.in
  burrow-gtk/data/com.hackclub.burrow.gschema.xml
  burrow-gtk/data/icons/hicolor/scalable/apps/burrow-gtk.svg
  burrow-gtk/data/icons/hicolor/symbolic/apps/burrow-gtk-symbolic.svg
  burrow-gtk/data/icons/hicolor/symbolic/apps/com.hackclub.burrow-symbolic.svg
  burrow-gtk/data/icons/meson.build
  burrow-gtk/data/meson.build
  burrow-gtk/data/resources.gresource.xml
  burrow-gtk/meson.build
  burrow-gtk/po/POTFILES
  burrow-gtk/po/meson.build
  burrow-gtk/src/.gitignore
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings/mod.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
  burrow-gtk/src/config.rs.in
  burrow-gtk/src/diag.rs
  burrow-gtk/src/main.rs
  burrow-gtk/src/meson.build
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Update locking
  burrow/src/wireguard/pcb.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add tokio console and more debugging feats
  Cargo.lock
  Makefile
  burrow/Cargo.toml
  burrow/src/main.rs
  burrow/src/wireguard/pcb.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add handling for connection expiration
  burrow/src/wireguard/pcb.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

fix wording
  docs/GETTING_STARTED.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update Getting_Started.md
  docs/GETTING_STARTED.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Added Xcode Path Switching to Getting Started
  docs/GETTING_STARTED.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Simplified process startup on macOS and Linux
  .vscode/settings.json
  Apple/App/Menu/MenuView.swift
  Apple/App/Tunnel.swift
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Configuration/App.xcconfig
  Apple/Configuration/Compiler.xcconfig
  Apple/Configuration/Extension.xcconfig
  Apple/NetworkExtension/BurrowIpc.swift
  Apple/NetworkExtension/Client.swift
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/NWConnection+Async.swift
  Apple/NetworkExtension/NetworkExtension-macOS.entitlements
  Apple/NetworkExtension/NetworkExtension.xcconfig
  Apple/NetworkExtension/NewlineProtocolFramer.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/NetworkExtension/libburrow/libburrow.h
  Apple/Shared/Constants.swift
  Apple/Shared/Constants/Constants.h
  Apple/Shared/Constants/module.modulemap
  Apple/Shared/Logging.swift
  Apple/Shared/Shared.xcconfig
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/apple.rs
  burrow/src/daemon/apple.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/apple.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/systemd.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/net/windows.rs
  burrow/src/daemon/response.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  burrow/src/tracing.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/mod.rs
  burrow/src/wireguard/noise/mod.rs
  burrow/src/wireguard/pcb.rs
  tun/src/unix/apple/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Enable for all routes
  Apple/NetworkExtension/PacketTunnelProvider.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Simplified process startup on macOS and Linux
  .vscode/settings.json
  Apple/App/Menu/MenuView.swift
  Apple/App/Tunnel.swift
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Configuration/App.xcconfig
  Apple/Configuration/Compiler.xcconfig
  Apple/Configuration/Extension.xcconfig
  Apple/NetworkExtension/BurrowIpc.swift
  Apple/NetworkExtension/Client.swift
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/NWConnection+Async.swift
  Apple/NetworkExtension/NetworkExtension-macOS.entitlements
  Apple/NetworkExtension/NetworkExtension.xcconfig
  Apple/NetworkExtension/NewlineProtocolFramer.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Apple/NetworkExtension/libburrow/libburrow.h
  Apple/Shared/Constants.swift
  Apple/Shared/Constants/Constants.h
  Apple/Shared/Constants/module.modulemap
  Apple/Shared/Logging.swift
  Apple/Shared/Shared.xcconfig
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/apple.rs
  burrow/src/daemon/apple.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/apple.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/systemd.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/net/windows.rs
  burrow/src/daemon/response.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  burrow/src/tracing.rs
  burrow/src/wireguard/iface.rs
  burrow/src/wireguard/mod.rs
  burrow/src/wireguard/noise/mod.rs
  burrow/src/wireguard/pcb.rs
  tun/src/unix/apple/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

GTK App Getting Started Instructions
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

GTK App Getting Started Instructions
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

GTK App Getting Started Instructions
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Downgrade to libadwaita 1.3
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/meson.build
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add GTK instructions for Debian and Void Linux
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add appimage build script
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add appimage docs
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add appimage CI and docs corrections
  .github/workflows/build-appimage.yml
  burrow-gtk/build-aux/Dockerfile
  burrow-gtk/build-aux/build_appimage.sh
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Make flatpak workflow manual
  .github/workflows/build-flatpak.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Implement PR suggestions
  burrow-gtk/build-aux/build_appimage.sh
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add ability to build GTK app AppImage (#240)
  .github/workflows/build-appimage.yml
  .github/workflows/build-flatpak.yml
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/Dockerfile
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/meson.build
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
  docs/GTK_APP.md
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Bump Rust version in Dockerfile
  Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Bump Rust version in Dockerfile
  Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add Support for IPV6 and Arbitrary Server Address
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Cargo.lock
  Dockerfile
  Makefile
  burrow-server-compose.yml
  burrow/src/daemon/response.rs
  burrow/src/daemon/snapshots/burrow__daemon__command__daemoncommand_serialization-2.snap
  burrow/src/daemon/snapshots/burrow__daemon__command__daemoncommand_serialization.snap
  burrow/src/daemon/snapshots/burrow__daemon__response__response_serialization-4.snap
  burrow/src/main.rs
  burrow/src/tracing.rs
  burrow/src/wireguard/config.rs
  server_patch.txt
  tun/Cargo.toml
  tun/src/options.rs
  tun/src/unix/apple/kern_control.rs
  tun/src/unix/apple/mod.rs
  tun/src/unix/apple/sys.rs
  tun/tests/packets.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add Support for IPV6 and Arbitrary Server Address
  Apple/NetworkExtension/DataTypes.swift
  Apple/NetworkExtension/PacketTunnelProvider.swift
  Cargo.lock
  Dockerfile
  Makefile
  burrow-server-compose.yml
  burrow/src/daemon/response.rs
  burrow/src/daemon/snapshots/burrow__daemon__command__daemoncommand_serialization-2.snap
  burrow/src/daemon/snapshots/burrow__daemon__command__daemoncommand_serialization.snap
  burrow/src/daemon/snapshots/burrow__daemon__response__response_serialization-4.snap
  burrow/src/main.rs
  burrow/src/tracing.rs
  burrow/src/wireguard/config.rs
  server_patch.txt
  tun/Cargo.toml
  tun/src/options.rs
  tun/src/unix/apple/kern_control.rs
  tun/src/unix/apple/mod.rs
  tun/src/unix/apple/sys.rs
  tun/tests/packets.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Remove redundant type annotation
  Apple/NetworkExtension/Client.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Remove redundant crates I added
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/auth/client.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Discard changes to Cargo.lock
  Cargo.lock
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Discard changes to .vscode/settings.json
  .vscode/settings.json
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Fix trait bound in callback handler (url qpmrs)
  .github/workflows/build-rust.yml
  Cargo.lock
  burrow/src/auth/server.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Enable feature rustls-tls-webpki-roots on reqwest
  burrow/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Add Slack OpenID calls
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Start authentication flow
  .vscode/settings.json
  Cargo.lock
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server.rs
  burrow/src/lib.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Refactor token exchange url generation
  burrow/src/auth/server.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Discard changes to .github/workflows/build-rust.yml
  .github/workflows/build-rust.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Remove redundant type annotation
  Apple/NetworkExtension/Client.swift
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Implement launching local daemon
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings/mod.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/diag.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Fix TOCTOU exploit with local daemon
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/settings/daemon_group.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev
