Repository hackclub/burrow, changes with the owners that .github/CODEOWNERS names for each.
All owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum, @davnotdev

Remove auth screen and make req async
  burrow-gtk/Cargo.toml
  burrow-gtk/src/auth.rs
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/auth_screen.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/diag_group.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Start authentication flow
  .gitignore
  Apple/NetworkExtension/libburrow/build-rust.sh
  Cargo.lock
  Cargo.toml
  Dockerfile
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  tun/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Remove SwiftLint from Xcode project
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Remove SwiftLint from Xcode project
  Apple/Burrow.xcodeproj/project.pbxproj
  Apple/Burrow.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Start authentication flow
  .gitignore
  Apple/NetworkExtension/libburrow/build-rust.sh
  Cargo.lock
  Cargo.toml
  Dockerfile
  burrow/Cargo.toml
  burrow/src/auth/client.rs
  burrow/src/auth/mod.rs
  burrow/src/auth/server/db.rs
  burrow/src/auth/server/mod.rs
  burrow/src/auth/server/providers/mod.rs
  burrow/src/auth/server/providers/slack.rs
  burrow/src/lib.rs
  burrow/src/main.rs
  tun/Cargo.toml
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Update build settings
  .github/actions/notarize/action.yml
  .github/workflows/build-apple.yml
  .github/workflows/build-rpm.yml
  .github/workflows/build-rust.yml
  .github/workflows/release-apple.yml
  Apple/App/AppDelegate.swift
  Apple/App/MainMenu.xib
  Cargo.lock
  Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Add test auth button
  burrow-gtk/src/auth.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test appimage multiarch build
  .github/workflows/build-appimage.yml
  burrow-gtk/build-aux/Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test build multiarch
  .github/workflows/build-appimage.yml
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test build multiarch
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test appimage multiarch build
  burrow-gtk/build-aux/Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have burrow gtk use new rpc
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Integrate tunnel status streaming
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/switch_screen.rs
  burrow-gtk/src/daemon.rs
  burrow-gtk/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add proto defs into burrow-gtk
  burrow-gtk/proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have the app actually open
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

add protobuf definition file
  proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder

update protobuf definition file
  proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Create main screen with placeholder networks
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/main/mod.rs
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main/switch.rs
  burrow-gtk/src/components/main_screen.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/template.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have burrow gtk use new rpc
  burrow-gtk/Cargo.lock
  burrow-gtk/Cargo.toml
  burrow-gtk/build-aux/build_appimage.sh
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/settings/daemon_group.rs
  burrow-gtk/src/components/settings/diag_group.rs
  burrow-gtk/src/components/settings_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Add proto defs into burrow-gtk
  burrow-gtk/proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Integrate tunnel status streaming
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/switch_screen.rs
  burrow-gtk/src/daemon.rs
  burrow-gtk/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Remove TODO comment
  burrow-gtk/src/components/app.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Have the app actually open
  burrow-gtk/build.rs
  burrow-gtk/src/components/app.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test appimage multiarch build
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test appimage multiarch build
  burrow-gtk/build-aux/build_appimage.sh
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

spawn GRPC server at daemon start
  burrow/Cargo.toml
  burrow/build.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/grpc_defs.rs
  burrow/src/daemon/rpc/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

update
  Cargo.lock
  burrow.db
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/wireguard/iface.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Tested with mock grpc server
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/mod.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

feat: implement database functions
  burrow/src/auth/server/db.rs
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/database.rs
  proto/burrow.proto
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

Fix: deadlock on tunnel start
  burrow/src/daemon/instance.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

swap new listener in place of old
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/unix.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

RPC server and client support
  Cargo.lock
  Makefile
  burrow/Cargo.toml
  burrow/src/daemon/instance.rs
  burrow/src/daemon/mod.rs
  burrow/src/daemon/net/mod.rs
  burrow/src/daemon/net/unix.rs
  burrow/src/daemon/rpc/client.rs
  burrow/src/daemon/rpc/mod.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

feat: network CRUD
  .gitignore
  burrow.db
  burrow/Cargo.toml
  burrow/src/daemon/instance.rs
  burrow/src/database.rs
  burrow/src/main.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @Muirrum

attempt: update gh action
  .github/workflows/build-apple.yml
  .github/workflows/build-rust.yml
  Dockerfile
Owners: @conradev, @malted, @JettChenT, @jdogcoder

update: prevent rate limiting
  .github/workflows/build-apple.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Update protoc version
  .github/workflows/build-apple.yml
  .github/workflows/build-rust.yml
Owners: @conradev, @malted, @JettChenT, @jdogcoder

Connect network list to rpc
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Implement networks add delete and reoder
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Test against test rpc server
  burrow-gtk/src/components/app.rs
  burrow-gtk/src/components/main/mod.rs
  burrow-gtk/src/components/main/network_card.rs
  burrow-gtk/src/components/main/networks.rs
  burrow-gtk/src/components/main/switch.rs
  burrow-gtk/src/components/main_screen.rs
  burrow-gtk/src/components/switch_screen.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

Missing import
  burrow-gtk/src/components/mod.rs
Owners: @conradev, @malted, @JettChenT, @jdogcoder, @davnotdev

.github/CODEOWNERS:

* @conradev @malted @JettChenT @jdogcoder
burrow/ @conradev @malted @JettChenT @jdogcoder @Muirrum
tun/ @conradev @malted @JettChenT @jdogcoder @Muirrum
burrow-gtk/ @conradev @malted @JettChenT @jdogcoder @davnotdev
